
     <div class="blog-post">
       <div class="d-flex justify-content-center entry-title">
         <h2 class="blog-post-title "><%= link_to article.title , article %></h2>
       </div>
       <div class="d-flex justify-content-center">
         <p class="blog-post-meta">Published <%= distance_of_time_in_words(article.created_at, Time.now) %> ago </p>
       </div>

       <div class="d-flex justify-content-start container">
         <div class="row">

           <div class="col-md-3">
             <a href="/articles/<%= article.id %>">
               <%= image_tag article_img(article.thumb_image.url, 'thumb'), class: 'thumb-pic', width: '100%', width: 150, height: 150 %>
             </a>
           </div>
           <div class="col-md-9 col">
             <p class="article-preview"><%= article.preview.truncate(410,separator: ' ').html_safe %></p>
           </div>
         </div>
       </div>
       <!-- admin buttons -->
       <p class="blog-post-meta articlecrumb">
            <%= link_to  article.status, toggle_status_article_path(article) if logged_in?(:site_admin) %>/
         <%= link_to fa_icon('pen-square'), edit_article_path(article) if logged_in?(:site_admin)  %>/
         <%= link_to fa_icon('trash'), article, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)  %>
       </p>
       <!-- admin buttons  end-->
       <hr class="line">
     </div>