<%= form_with(model: article, local: true) do |form| %>
<% if article.errors.any? %>
<% article.errors.full_messages.each do |error| %>
<%= alert_generator error %>
<% end %>
<% end %>

<div class="form-group">
  <%= form.label :title %>
  <%= form.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label :author %>
  <%= form.text_field :author, class: 'form-control' %>
</div>

<div class="form-group">
  <%= form.label "Preview Text"%>
  <%= form.text_area :preview, class: 'form-control', rows: 3 %>
</div>

<div class="form-group">
  <%= form.cktext_area :body, ckeditor: { language: 'us', height: 600}, rows: 60%>
</div>

<div class="form-group">
  <label class="btn btn-primary">
    Upload Thumb Image File
    <%= form.file_field :thumb_image, style: 'display:none';  %>
  </label>
</div>
<div class="form-group">
  <%= form.radio_button :status, 'draft' %>
  <%= form.label :status, 'Draft' %>

  <%= form.radio_button :status, 'published' %>
  <%= form.label :status, 'Published' %>
</div>
<div class="form-group">
  <%= form.label :tag_list %>
  <%= form.text_area :tag_list, class: 'form-control', rows: 1 %>
</div>

<div class="form-group">
  <%= form.submit "Save" , class: 'btn btn-primary'%>
</div>
<% end %>