<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
<div class="container-show container site-inner">

  <h1 class="entry-title"  id = "js-title" >
    <%= @article.title %>
  </h1>

  <div class = "blocking">
  <p class = "author">By <%= @article.author %>&nbsp</p>
  <% if !@article.twitter.nil?  %>
  <%= link_to @article.twitter, target: :_blank  do %>
      <i class = "fab fa-twitter fa-lg" class = "twitter"></i> 
  <% end %>
  <% end %>
  &nbsp |
  <p class="blog-post-meta">&nbsp Published <%= @article.created_at.strftime("%B %d, %Y") %> </p>
</div>
  <p>
    <%=  @article.body.html_safe %>
  </p>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery.socialfloating.js' %>
<%= javascript_include_tag 'demo.js' %>
  <h3 style = "font-size: 20px;"><%= link_to 'Back to Articles', articles_path, class: 'article-a' %></h3>
  <br>
  <br>
       <%= render partial: 'shared/newsform', locals: {showThis: false} %>
<br>
<br>
</div>
