<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery.socialfloating.js' %>
<%= javascript_include_tag 'demo.js' %>
<div class="container-show container site-inner">
  <%
=begin%>
 <p id="notice"><%= notice %></p> 
<%
=end%>

  <h1 class="entry-title ">
  <%= social_share_button_tag(@article.title) %>

    <%= @article.title %>
  </h1>
  <div class = "blocking">
  <p class = "author">By <%= @article.author %>&nbsp</p>
  <%= link_to fa_icon('twitter'), @article.twitter, class: 'twitter', target: :_blank if !@article.twitter.nil? %>&nbsp| 
  <p class="blog-post-meta">&nbsp Published <%= @article.created_at.strftime("%B %d, %Y") %> </p>
</div>
  <p>
    <%=  @article.body.html_safe %>
  </p>

  <%= link_to 'Back', articles_path %>
</div>