<div class="container titan-container" style="margin-top: 2rem; margin-bottom: 2rem; ">
     <%= link_to "EDIT", edit_titan_path(@titan) if logged_in?(:site_admin)  %>
  <div class="row">
    <div class="col-lg-7">
      <%= image_tag titan_img(@titan.main_image.to_s, 'main'), width: '100%' %>
    </div>
    <div class="col-lg-5 ">
      <h1><%= @titan.name %></h1>
      <p><%= @titan.body %></p>
    </div>
  </div>
  <hr>
  <div>
  <div class = "">
  <div class = "grid box-out">
          <% @titan.titan_books.each do |book| %>
              <div class = "book">
                <%= link_to book.link, :target => "_blank" do %>
                <%= image_tag  titan_img(book.name.to_s, 'thumb'), Cass: 'book-img', width: 220, height: 330%> 
                <% end  %>
              </div>
          <% end %>
     </div>
   </div>
  </div>
</div>

<!-- TODO: Add description field to titan model -->