<!DOCTYPE html>
<html>

<head>
  <title><%= @article_page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= @seo_keywords %>">

<!-- Open Graph data -->
<meta property="og:type" content="article" />
<meta property="og:url" content="<%=@article_url %>" />
<meta property="og:site_name" content="Brainstack" />
<meta property="og:image" content="<%= @article_image %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@nateliason">
<meta name="twitter:title" content="30 Year Thinking">
<meta name="twitter:creator" content="@nateliason">
<meta name="twitter:image" content="https://uploads-ssl.webflow.com/5ad143610f7efd77b6f188f3/5f1879d9b294e0f3759d74f5_Barack_Obama_and_Shinzo_Abe_at_Sukyabashi_Jiro_April_2014.jpg">

  <%= stylesheet_link_tag    'articles', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url  %>
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
  <%= stylesheet_link_tag 'socialfloating.css', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>



<body>
  <div class="ui main text container">
  <%= render 'shared/nav' %>
  <%= yield %>
  <%= source_helper %>
  <%= alerts %>
  <%= render 'shared/footer' %>
  </div>
</body>

</html>