<!DOCTYPE html>
<html>

<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
   <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= @seo_keywords %>">
<meta content="30 Year Thinking - Nat Eliason" property="og:title">
<meta content="What do you want to be doing in 30 years? And is that reflected in how you spend your time?" property="og:description">
  <%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url
 %>
  <%= stylesheet_link_tag 'socialfloating.css', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js" data-auto-replace-svg="nest"></script>
<body class = "container">
  <%= render "shared/nav" %>
  <%= yield %>
  <br>
  <%= source_helper %>
  <%= alerts %>
</body>
  <%= render 'shared/footer' %>

</html>