<%
=begin%>
 <!DOCTYPE html>
<html>

<head>
  <title><%= @page_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="<%= @seo_keywords %>">
  <%= stylesheet_link_tag    'titans', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render "shared/nav" %>
  <%= login_helper %>
  <%= yield %>
  <br>
  <%= source_helper %>
  <%= render 'shared/footer' %>

</body>

</html> 
<%
=end%>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
      <%= stylesheet_link_tag    'titans', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
              <%= render 'shared/nav' %>
    </header>
  <%= yield %>
       <%= render 'shared/footer' %>

  </body>
</html>
     