<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Titan</title>
  <meta name="keywords" content="<%= @seo_keywords %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
      <%= stylesheet_link_tag    'titans', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
              <%= render 'shared/nav' %>
    </header>
  <%= yield %>
       <%= render 'shared/footer' %>
         <%= render 'shared/alerts' %>

  </body>
</html>
     