<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Titan</title>
  <meta name="keywords" content="<%= @seo_keywords %>">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
      <%= stylesheet_link_tag    'titans', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
  </head>

  <body class = "container">
    <header class = "titan-header">
              <%= render 'shared/nav' %>
    </header>
  <%= yield %>
       <%= render 'shared/footer' %>
         <%= alerts %>

  </body>
</html>
     