<!doctype html>
<html lang="en">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177236326-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177236326-1');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book recommendations from industy's Titans. People ranging from Elon Musk to Seth Godin.">
    <link rel="icon" href="https://brainstack.s3.us-east-2.amazonaws.com/uploads/brainstack+logo.png">

<!-- Open Graph data -->
  <meta property="og:title" content="<%= @page_title %>" >
    <meta name="keywords" content="<%= @seo_keywords %>,<%= @page_title %>">
<meta description="description" content="<%= @titan_preview %>">
  <meta content="<%= @titan_image %>" property="og:image">
  <meta content="<%= @titan_preview %>" property="og:description">
  <!-- FIXED: Add meta url and site name og tag -->
  <meta property="og:url" content="<%= @titan_url %>" />
  <meta property="og:site_name" content="Brainstack" />
  <meta property="og:type" content="website">


  <!-- FIXED: Add Twitter Meta Tags -->
  <!-- Twitter Meta tags -->
  <meta content="<%= @page_title %>" property="twitter:title">
  <meta content="<%= @titan_preview %>" property="twitter:description">
  <meta content="<%= @titan_image %>" property="twitter:image">
  <meta content="summary_large_image" name="twitter:card">
    <title><%= @page_title %></title>
  <meta name="keywords" content="<%= @seo_keywords %>">
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Custom styles for this template -->
      <%= stylesheet_link_tag    'titans', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
  </head>

  <body class = "container">
    <header class = "titan-header">
              <%= render 'shared/nav' %>
    </header>
  <%= yield %>
       <%= render 'shared/footer' %>
         <%= alerts %>

  </body>
</html>
     